html {
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
**::before {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  color: blue;
  font-size: 3rem;
}

h2 {
  text-align: center;
  color: blue;
  font-size: 2rem;
}

h3,
p {
  font-size: 1.5rem;
  text-align: center;
}

.margin-top {
  margin-top: 6rem;
}


.item {
  border-radius: 1rem;
  margin: .5rem;
  padding: 1rem;
  background-color: rgb(255, 150, 100);
  font-size: 1.2rem;
}

.item-2 {
  border-radius: 1rem;
  margin: 1rem;
  padding: 1.5rem;
  background-color: rgb(255, 150, 100);
  font-size: 2rem;
}

.item-3 {
  border-radius: 1.5rem;
  margin: 1.5rem;
  padding: 2rem;
  background-color: rgb(255, 150, 100);
  font-size: 2.5rem;
}

.container,
.container-1,
.container-2,
.container-3,
.container-4 {
  padding: .2rem;
  margin: .5rem;
  background-color: rgb(100, 100, 100);
  border-radius: 1rem;
}

.container {
  height: 200px;
  width: 300px;
}

.container-1 {
  height: 200px;
}

.container-2 {
  height: 300px;
}

.container-3 {
  height: 400px;
}

.container-4 {
  width: 1000px;
}

.volver {
  margin: .5rem 0;
  font-size: 3rem;
  list-style: none;
}

.temario {
  text-align: center;
  list-style: none;
  font-size: 2rem;
  padding-left: 0;
}

.volver>a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-item-stretch {
  align-items: stretch;
}

.align-item-flex-start {
  align-items: flex-start;
}

.align-item-flex-end {
  align-items: flex-end;
}

.align-item-center {
  align-items: center;
}

.align-item-baseline {
  align-items: baseline;
}

.align-content-flex-start {
  align-content: flex-start;
}

.align-content-center {
  align-content: center;
}

.align-content-flex-end {
  align-content: flex-end;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-space-evenly {
  align-content: space-evenly;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-shrink-2 {
  flex-shrink: 2;
}

.flex-basis {
  flex-basis: 200px;
}